*{
    padding: 0;
    margin: 0;    
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;  
    box-sizing: border-box;        
}

.center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    width: 100%;
    height: auto;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

a:visited{
    color: #fff;
}

a:hover{
    color: #ffff00;
}

header{
    top: 0;
    height: 20vh;
    width: 100%;
    background-color: #fff;     
    position: fixed;
    z-index: 1;
}

header h1{
    width: 100%;
    font-size: 4rem;
    text-align: center;
    cursor: none;  
    margin-top: 0.1rem;  
    margin-bottom: 0.1rem; 
    font-family: 'Cinzel' ,serif;
    font-weight: normal;  
}

header nav{
    width: 100%;  
    background-color: #000;  
}

header nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
}

header nav ul li{
    padding: 0.5rem;
    color: #fff;
    font-size: 1rem;
}

.work-nav{
    width: 18vw;
    height: auto;    
    background-color: #000; 
    position:  fixed;
    top:25vh;
    left: 4vw;
    padding: 0.8em 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.work-nav h4{
    width: 80%;
    color: #fff; 
    text-align: center;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #fff;
}

.work-nav ul{
    width: 80%;
    list-style: none; 
    color: #fff;  
    font-size: 0.9em;
    margin-top: 0.9em;
}

.work-nav ul li{
    padding: 0.5em 0;
}

.work-nav ul li a{
    width: 100%;
}

.wrapper{
    width: 100%;    
    height: auto;
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;    
}

.wrapper main {
    /* background-color:#ffff00; */
    height: auto;
    width: 75%;
}

.wrapper main .section-container{
    width:100%;
    padding-top: 25vh;    
}

.wrapper main .section-container .section-title{
    width: 100%;
    /* background-color: crimson; */
    padding: 0 0.9rem 0.9rem 0.9rem;
}

.wrapper main .section-container p{
    width: auto;
    font-size: 0.9rem;
    margin-bottom: 0.9rem;    
    text-align: justify;
}

.wrapper main .section-introduction-container{
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.wrapper main .section-introduction-container .text-container{
    width: 65%;        
}

.wrapper main .section-introduction-container figure{
    width: 17vw;
    height: 45vh;   
}

.wrapper main .section-introduction-container figure .image-container{
    width: 100%;
    height: 40vh;        
}

.wrapper main .section-introduction-container figure figcaption{
    font-size: 0.8rem;
    text-align: justify;
}

.wrapper main .section-introduction-container .image-container .content-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper main .section-biography-container{
    width: 100%; 
    padding: 0 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper main .section-biography-container .text-container{
    width: 65%;
    height: auto;    
}

.wrapper main .section-biography-container .text-container h3{
    width: 100%;
    font-family: 'Cinzel' ,serif; 
    text-align: center;
    font-weight: bold;
    color: #5C3D2E;   
    padding: 0.9em;
}

.wrapper main .section-biography-container .text-container h4{
    font-weight: 1000;
    padding-bottom: 0.9em;
    width: 100%;
    text-align: center;
}

.wrapper main .section-biography-container .image-container{
    width: 20vw;
    height: auto;    
}

.wrapper main .section-biography-container .image-container figure{
   width: 100%;
   margin-bottom: 0.9em;
}

.wrapper main .section-biography-container .image-container figure figcaption{
    width: 100;
    font-size: 0.8em;
    text-align: justify;
}

.wrapper main .section-biography-container .image-container figure div {
    width: 100%;
    height: 24vh;  
}

.wrapper main .section-biography-container .image-container #figure-medici-shield div{
    width: 100%;
    height: 20vw;     
}

.wrapper main .section-biography-container .image-container figure div .content-image{
    object-fit: cover;
    width: 100%;
    height: 100%;  
}

.wrapper main .section-style-and-technique-container {
    width: 100%;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper main .section-style-and-technique-container .text-container{
    width: 65%;
    height: auto; 
    padding: 1em;   
}

.wrapper main .section-style-and-technique-container .text-container h3{
    width: 100%;
    font-family: 'Cinzel' ,serif; 
    text-align: center;
    font-weight: bold;
    color: #5C3D2E;   
    padding: 0.9em;
}

.wrapper main .section-style-and-technique-container .text-container dl{
    width: 100;     
    text-align: justify; 
    margin-bottom: 1em;
}

.wrapper main .section-style-and-technique-container .text-container dl dt{
    font-size: 0.9em;
    font-weight: 1000;
    margin-top: 0.9em;
    text-align: justify;
}

.wrapper main .section-style-and-technique-container .text-container dl dd{
    font-size: 0.9em;    
    text-align: justify;
}

.wrapper main .section-style-and-technique-container figure{
    width: 90%;   
    background-color: #2B2B2B;
    padding: 5vh 0;
}

.wrapper main .section-style-and-technique-container figure .image-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
}

.wrapper main .section-style-and-technique-container figure .image-container div{
    width: 30vh;
    height: 30vh;  
    background-color: #5C3D2E;
    border: 2px solid #fff;
}

.wrapper main .section-style-and-technique-container figure .image-container div img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.wrapper main .section-style-and-technique-container figure figcaption{
    width: 100%;    
    padding: 1em 1em 0 1em;
    color: #fff;
    font-size: 0.8em;
    text-align: center
}

.wrapper main #section-utensils .auxiliary-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;      
    padding: 0 3rem;
}

.wrapper main #section-utensils .auxiliary-div .content-button{
    margin-bottom: 0.2em;
    width: 10em;
    padding: 0.5em;
    border: solid 1px #000;    
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;  
}

.wrapper main #section-utensils .auxiliary-div .content-button:hover{
    background-color: #5C3D2E;
    color: #fff;
    border: #5C3D2E solid 1px;
    
}

.wrapper main .section-utensils-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url('./images/Entombment_Michelangelo.jpg');
    background-size: cover; 
    margin: 0 3rem;  
}

.wrapper main .section-utensils-container figcaption{
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em 1em;
    opacity: 0;
    transition: 2s;
}

.wrapper main .section-utensils-container .text-container {
    width: 65%;
    height: auto; 
    padding: 1em;  
    background-color: #ffffffb2; 
    transition: 2s;
    padding: 1rem 2rem;
}

.wrapper main .section-utensils-container .text-container .caption-text:hover{
    border-color: #5C3D2E;
    color: #5C3D2E;
}

.wrapper main .section-utensils-container .text-container h3{
    width: 100%;
    font-family: 'Cinzel' ,serif; 
    text-align: center;
    font-weight: bold;
    color: #5C3D2E;   
    padding: 0.9em;
}

main .section-works-container{
    width: 100%;
    padding: 0 3rem;
}

main .section-works-container .caption-text{
    padding: 1rem 0;
}

main .section-works-container #gallery-display{
    width: 100vw;
    height: 100vh;
    background-color: #2b2b2ba2;
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;           
}

main .section-works-container #gallery-display #gallery-content{
    width: auto;
    height: 80vh;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 5vw;    
    border-radius: 10px;
    position: relative;
    transition: 1s; 
}

main .section-works-container #gallery-display #gallery-content .icon-container{
    width: 15px;
    height: 15px;
    background-image: url('./images/cancel-white.png');
    background-size: cover;    
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

main .section-works-container #gallery-display #gallery-content .image-container{ 
    width: 30vw;
    height: 60vh;   
    margin-right:5vw ;
}

main .section-works-container #gallery-display #gallery-content .image-container img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

main .section-works-container #gallery-display #gallery-content .text-container{    
    width: 25vw;
    height: 25vh; 
}

main .section-works-container #gallery-display #gallery-content .text-container h3{
    font-family: 'Cinzel' ,serif; 
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    padding: 1em 0;
}

main .section-works-container #gallery-display #gallery-content .text-container p{
    color: #fff;
    width: 100%;
    font-size: 0.75em;
}

main .section-works-container .works-background{
    width: 90%;
    background: #2B2B2B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

main .section-works-container .works-background figure{
    height: 35vh;
    width: 35vh;
    background-color: #000;    
}

main .section-works-container .works-background figure .image-container{
  width: 25vh;
  height: 25vh;
  cursor: pointer;
}

main .section-works-container .works-background figure .image-container .contain-image{
    width: 100%;
    height: 100%;
    object-fit: contain;    
}

main .section-works-container .works-background figure figcaption{
    width: 100%;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

.wrapper main .section-importance-and-legacy-container {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items:flex-start;
}

.wrapper main .section-importance-and-legacy-container .image-container{
    height: auto;
    width: auto;
    margin-right: 1rem;
}

.wrapper main .section-importance-and-legacy-container .image-container figure{
     width: 15vw;
     height: 18vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom:1.5rem;
}

.wrapper main .section-importance-and-legacy-container .image-container figure img{
    width: 10vw;
    height: 15vw;
}

main .section-importance-and-legacy-container .image-container figure figcaption{
    font-size: 0.8em;
    padding: 0.2em 0.5em 0.5em 0.5em;
    text-align: center;   
    width: 10vw; 
}

main .section-importance-and-legacy-container .text-container{
    width: 65%; 
    height: auto; 
    padding: 1em;    
}

footer{
    width: 100%;
    height: 10vh;
    background-color: #000;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

footer .auxiliary-div{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

footer .auxiliary-div p{
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    padding-bottom: 0.8em;
}

footer .auxiliary-div div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

footer .auxiliary-div a .image-ctn{
    height: 7vh;
    width:7vw;
    background-color: #fff;
}

footer .auxiliary-div a .image-ctn img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

footer #credit-container p{
    text-align: right;   
}
